<app-bloggy-header></app-bloggy-header>

<div class="container">
    <div class="title">
        <h3>Create post</h3>
    </div>

    <div class="form">
        <form #form="ngForm" (ngSubmit)="submit(form.value)">

            <!-- Post title input -->
            <div>
                <label for="title">Post title</label>
                <div class="flex">
                    <input required id="title" name="title" placeholder="Post title" type="text"
                        maxlength="{{titleMaxLength}}" class="input form-control" #title="ngModel" ngModel />

                    <!-- Display characters left before reaching max limit -->
                    <div class="counter" *ngIf="title.dirty">
                        <p>{{titleMaxLength - title.value.length}}</p>
                    </div>
                </div>

                <!-- Check if title is not empty (after clicking and exiting the input)-->
                <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert">
                    <div *ngIf="title.errors?.['required']">Post name required!</div>
                </div>

                <!-- Check if article name is not already taken by another post -->
                <div class="alert" *ngIf="checkIfPostNameTaken(title)">Post name already taken!</div>
            </div>

            <br />

            <!-- Author input -->
            <div>
                <label for="author_id">Author</label>

                <!-- Dropdown menu for selecting the author -->
                <select required name="author_id" id="author_id" class="form-control browser-default"
                    #author_id="ngModel" ngModel>
                    <option value="" disabled selected hidden>-- Choose an author --</option>
                    <option *ngFor="let author of AuthorsList" value="{{author.id}}">{{author.full_name}}</option>
                </select>

                <!-- Check if an author is selected (after clicking and exiting the input) -->
                <div *ngIf="author_id.invalid && (author_id.dirty || author_id.touched)" class="alert">
                    <div *ngIf="author_id.errors?.['required']">Author required!</div>
                </div>
            </div>

            <br />

            <!-- Image input -->
            <div>
                <label for="image_url">Image</label>

                <input required id="image_url" name="image_url" placeholder="Image URL" type="text"
                    class="input form-control" #image_url="ngModel" ngModel />

                <!-- Check if title is not empty (after clicking and exiting the input)-->
                <div *ngIf="image_url.invalid && (image_url.dirty || image_url.touched)" class="alert">
                    <div *ngIf="image_url.errors?.['required']">Image URL required!</div>
                </div>
            </div>

            <br />

            <!-- Resume input -->
            <div>
                <label for="resume">Post resume</label>

                <div class="flex">
                    <input required id="resume" name="resume" placeholder="Post resume" type="text"
                        maxlength="{{resumeMaxLength}}" class="input form-control" #resume="ngModel" ngModel />

                    <!-- Display characters left before reaching max limit -->
                    <div class="counter" *ngIf="resume.dirty">
                        <p>{{resumeMaxLength - resume.value.length}}</p>
                    </div>
                </div>

                <!-- Check if resume is not empty (after clicking and exiting the input) -->
                <div *ngIf="resume.invalid && (resume.dirty || resume.touched)" class="alert">
                    <div *ngIf="resume.errors?.['required']">Resume required!</div>
                </div>
            </div>

            <br />

            <!-- Content Input -->
            <div>
                <label for="content">Content</label>

                <textarea required id="content" name="content" placeholder="Content" class="materialize-textarea"
                    #content="ngModel" ngModel></textarea>

                <!-- Check if content is not empty (after clicking and exiting the input)-->
                <div *ngIf="content.invalid && (content.dirty || content.touched)" class="alert">
                    <div *ngIf="content.errors?.['required']">Post content required!</div>
                </div>

            </div>

            <br />

            <!-- Buttons -->
            <div class="flex center-align">

                <!-- Cancel button -->
                <button class="button red" (click)="goToAdmin()">
                    Cancel
                </button>

                <!-- Disable submit button if any error occurs in the form, forcing the user to correct the data -->
                <button
                    [disabled]="title.errors || checkIfPostNameTaken(title) || author_id.errors || image_url.errors || resume.errors || content.errors"
                    class="button" type="submit">
                    Save
                </button>
            </div>
        </form>
    </div>
</div>